* {
    box-sizing: border-box;
  }
  .logo {
    width: 150px;
    height: 100px;
    margin: 1%, 1%;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: white;
    padding: 3px;
    text-align: left;
    font-size: 35px;
    
  }
  
p {
    font-size: 18px;
    text-align: right;    
    margin-top: 2px
    vertical-align: top; 
}
 
  .has-border {
    border-radius: 25px;
    border: 2px solid rgb(41, 7, 195);
    background: none;
    padding: 2px;
    font-size: 14px;
    vertical-align: top;  
    
  }
.newitems {
    vertical-align: top; 
    font-size: 14px;
}
 

  #profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 5% 35% 5%;
    grid-column: 1/3;
    
  }

  h1 {
      text-align: center;
  }

  h2 {
      text-align: center;
  }
  h3 {
    text-align: center;
    color: blue;
}
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
  }
  button {
    grid-column: 2/3;
    margin: 3% 18% 3%;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: black;
    padding: 20px;
    padding-bottom: 5%;
    text-align: center;
    color: red;
    letter-spacing: 16px;
    font-style: italic;
    
  }
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 5px;
    
  }
  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .card {
      
    width: 500px;   
    height: 350px; 
    background: url("https://cdn.pixabay.com/photo/2019/03/23/05/15/schafer-dog-4074699__340.jpg") no-repeat;
   margin-left: 50px;
    margin: 10px, 5px, 10px, 150px;
   
}
.card:hover {
    background: url("https://cdn.pixabay.com/photo/2015/04/04/20/42/german-shepherd-707063_960_720.jpg") no-repeat;
}
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }